.header {
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
    padding: 10px 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.brand {
    text-decoration: none;
    color: #2B3043;
    font-weight: 500;
    font-size: 30px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.2s ease;
    display: flex;
    align-items: center;
    gap:6px;
}

.link:hover {
    color: #76CB4F;
}



